@using EN.SimTaxi.Mvc.Models.Bookings
@model CreateUpdateBookingViewModel

@{
    ViewData["Title"] = "Create a new Booking";
}

<div class="container">

    <h1>Create a new Booking</h1>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FromAddress" class="control-label"></label>
                    <input asp-for="FromAddress" class="form-control" />
                    <span asp-validation-for="FromAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ToAddress" class="control-label"></label>
                    <input asp-for="ToAddress" class="form-control" />
                    <span asp-validation-for="ToAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BookingTime" class="control-label"></label>
                    <input asp-for="BookingTime" class="form-control" />
                    <span asp-validation-for="BookingTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DriverId" class="control-label"></label>
                    <select asp-for="DriverId" class="form-control select-2 w-100" asp-items="@Model.DriverLookup">
                        <option value="">-- Select a Driver --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="CarId" class="control-label"></label>
                    <select asp-for="CarId" class="form-control select-2 w-100" asp-items="@Model.CarLookup">
                        <option value="">-- Select a Car --</option>
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="PassengerIds" class="control-label"></label>
                    <select asp-for="PassengerIds" class="form-control select-2 w-100" asp-items="@Model.PassengerLookup"></select>
                    <span asp-validation-for="PassengerIds" class="text-danger"></span>
                </div>

                

                <div class="form-group mt-4">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Create" class="btn btn-primary ms-2" />
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
