@using EN.SimTaxi.Mvc.Enums
@using EN.SimTaxi.Mvc.Models.Cars
@model CreateUpdateCarViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="container">

    <h1>Create Car</h1>

    <hr />

    <div class="row">
        <div class="col-md-4">

            <form asp-action="Create">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="ProductionDate" class="control-label"></label>
                    <input asp-for="ProductionDate" class="form-control" />
                    <span asp-validation-for="ProductionDate" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="PlateNumber" class="control-label"></label>
                    <input asp-for="PlateNumber" class="form-control" />
                    <span asp-validation-for="PlateNumber" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="PowerType" class="control-label"></label>
                    <select asp-for="PowerType" class="form-control" asp-items="@Html.GetEnumSelectList<PowerType>()"></select>
                    <span asp-validation-for="PowerType" class="text-danger"></span>
                </div>

                <div class="form-group mt-2">
                    <label asp-for="CarType" class="control-label"></label>
                    <select asp-for="CarType" class="form-control" asp-items="@Html.GetEnumSelectList<CarType>()"></select>
                    <span asp-validation-for="CarType" class="text-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary ms-2">Create</button>
                </div>
            </form>

        </div>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
